
/* ::::: RESPONSIVE DESIGN DEVICE SIZES ::::: */

/* for Responsive Target the ROW Code (display:grid) */

/* Small devices (landscape phones, upto 576px and below) */
/* @media (width <=576px) */
@media (max-width: 576px) {

    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4 {
        grid-template-columns: 1fr;
    }
    .navBody{
        /* background-color: #73b818; */
        padding: 0rem;
    }
    
    .navLinkBox{
        display: none;
    }

    .logoBox img{
        padding-left: 1rem;
        height: 5rem;
    }

    .heroContainer{
       
    }

    .heroBody{
        /* background-color: #8a2be2; */
        /* padding: 2rem; */
        padding-left: 0.5rem;
    }

    .heroBlock{
        /* background-color: #945d8b; */
        display: flex;
        align-items: center;
        justify-content:center;    
    }

    .heroBox{
        /* background-color: #d2691e; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .heroBox h1{
        /* background-color: #9a9031; */
        padding-left: 0rem;
        padding: 4.5rem 3rem;
        text-wrap: wrap;
        font-size: 4.78rem;
        text-align: center;  
        /* overflow-wrap: break-word;  */
    }

    .expertiseDetailsBody{
        /* background-color: #6a1e6a; */
        column-gap: 2rem;
        /* padding: 3rem 1rem; */
    }

    .expHeadingBox h2{
        /* background-color: #d2de87; */
        font-size: 2.89rem;
        margin-bottom: 2.5rem;
    }

    .expertisePara{
        /* background-color: #378441; */
        width: 80%;
        /* padding-right: 8rem; */
        text-wrap: nowrap;
    }

    .headingBox h2{
        /* background-color: #d2de87; */
        word-break: break-all;
        text-wrap: balance;
        font-size: 2.2rem;
        margin-bottom: 3rem;
    }
    .expertiseImg{
        /* background-color: #008080; */
        margin-left: 1rem;
    }

    .expertiseImg img{
        /* color: #bca18d; */
        height: 8rem;
    }
    
    .align{
        padding: 2rem;
    }

    .footerButtonBlock{
        /* background-color: #5a47db; */
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 3rem;
    }

    .footerHeading h2{
        /* background-color: #443970; */
        font-size: 2.6rem;
        font-weight: 800;
    }
    
    .copyRightsBody{
        /* background-color: #bb5dbb; */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* Medium devices (tablets, upto 768px and above) */
/* @media (min-width: 577px) and (max-width: 768px) */
@media (width >=577px) and (width <=768px) {

    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4 {
        grid-template-columns: 1fr;
    }

    .align{
        padding: 2rem;
    }
    .navLinkBox{
        display: none;
    }

    .logoBox img{
        padding-left: 1rem;
        height: 5rem;
    }

    .heroBlock{
        /* background-color: #945d8b; */
        display: flex;
        align-items: center;
        justify-content:center;
        
    }
    .heroBody{
        /* background-color: #8a2be2; */
        overflow-wrap: break-word;
    }

    .heroBox{
        /* background-color: #d2691e; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .heroBox h1{
        /* background-color: #9a9031; */
        padding: 4.5rem 3rem;
        text-wrap: nowrap;
        font-size: 7.53rem;
        text-align: center;   
    }

    .expertiseImg{
        /* background-color: #008080; */
        margin-left: 3rem;
    }

    .expertiseImg img{
        /* color: #bca18d; */
        height: 9rem;
    }

    .footerButtonBlock{
        /* background-color: #5a47db; */
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 3rem;
    }

    .footerHeading h2{
        /* background-color: #443970; */
        font-size: 2.6rem;
        font-weight: 800;
    }
    
    .copyRightsBody{
        /* background-color: #bb5dbb; */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footerContainer{
        /* background-color: #9aacac; */
        padding: 3rem 4.5rem;
    }
}


/* Large devices (Laptops, upto 992px and above) */
/* @media (min-width: 769px) and (max-width: 992px) */
@media (width >=769px) and (width <=992px) {

    .align{
        padding: 2rem;
    }

    .heroBody{
        /* background-color: #8a2be2; */
        padding: 4rem;
        padding-left: 0.5rem;
    }

    .heroBlock{
        /* background-color: #945d8b; */
        display: flex;
        align-items: center;
        justify-content:center;    
    }

    .heroBox{
        /* background-color: #d2691e; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .heroBox h1{
        /* background-color: #9a9031; */
        padding-left: 0rem;
        padding: 4.5rem 10rem;
        text-wrap: wrap;
        font-size: 9.86rem;
        text-align: center;  
        /* overflow-wrap: break-word;  */
    }
    
    .expertiseImg{
        /* background-color: #008080; */
        margin-left: 3rem;
    }

    .expertiseImg img{
        /* color: #bca18d; */
        height: 10rem;
    }
}


/* X-Large devices (large desktops, upto 1200px and above) */
/* @media (min-width: 993px) and (max-width: 1200px) */
@media (width >=993px) and (width <=1200px) {

    .align{
        padding: 2rem;
    }
    .heroBody{
        /* background-color: #8a2be2; */
        padding: 4rem;
        padding-left: 0.5rem;
    }

    .heroBlock{
        /* background-color: #945d8b; */
        display: flex;
        align-items: center;
        justify-content:center;    
    }

    .heroBox{
        /* background-color: #d2691e; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .heroBox h1{
        /* background-color: #9a9031; */
        padding-left: 0rem;
        padding: 4.5rem 10rem;
        text-wrap: wrap;
        font-size: 9.86rem;
        text-align: start;  
        /* overflow-wrap: break-word;  */
    }
}


/* XX-Large devices (larger desktops, upto 1400px and above) */
/* @media (min-width: 1200px)  */
@media (width >=1200px) {
    /* write code here */
}